[package]
name = "avml"
version = "0.3.0"
license = "MIT"
description = "A portable volatile memory acquisition tool"
authors = ["avml@microsoft.com"]
keywords = ["linux", "memory-forensics", "security"]
categories = ["command-line-utilities"]
homepage = "https://github.com/microsoft/avml"
repository = "https://github.com/microsoft/avml"
readme = "README.md"

[features]
default = ["put", "blobstore"]
put = ["reqwest"]
blobstore = ["azure", "retry", "tokio-core", "url", "azure_sdk_core", "azure_sdk_storage_core"]

[dependencies]
elf = "0.0.10"
byteorder = "1.3.2"
clap = {version = "2.33.0", default-features = false}
snap = "0.2.5"
url = { version = "2.1.0", optional = true }
tokio-core = { version = "0.1.17", optional = true }
retry = { version = "0.5.1", optional = true }
reqwest = { version = "0.9.19", default-features = false, features = ["rustls-tls"], optional = true }
azure = { version = "0.23.1", package = "azure_sdk_storage_blob", optional = true}
azure_sdk_core = { version = "0.20.3", optional = true }
azure_sdk_storage_core  = { version = "0.20.4", optional = true }

[profile.release]
opt-level="z"
lto=true
panic="abort"
