[package]
name = "avml"
version = "0.7.0"
license = "MIT"
description = "A portable volatile memory acquisition tool"
authors = ["avml@microsoft.com"]
keywords = ["linux", "memory-forensics", "security"]
categories = ["command-line-utilities"]
homepage = "https://github.com/microsoft/avml"
repository = "https://github.com/microsoft/avml"
readme = "README.md"
edition = "2021"

[features]
default = ["put", "blobstore"]
put = ["reqwest", "url", "tokio"]
blobstore = ["url", "azure_core", "azure_storage", "azure_storage_blobs", "tokio", "tokio-util", "backoff", "async-channel"]
status = ["atty", "indicatif"]

[dependencies]
bytes = "1.2"
elf = "0.0.10"
byteorder = "1.3"
clap = { version = "3.2", default-features = false, features=["derive", "std"] }
http = "0.2"
snap = "1.0"
futures = "0.3"
url = { version = "2.2", optional = true }
tokio-util = { version = "0.7", features = ["codec"] , optional = true }
tokio = { version = "1.20", default-features = false, optional = true, features = ["fs"] }
reqwest = { version = "0.11", default-features = false, features = ["rustls-tls"], optional = true}
thiserror = "1.0"
md5 = "0.7"
backoff = { version = "0.4", features = ["tokio"], optional = true}
azure_storage = { version = "0.4", default-features = false, features = ["enable_reqwest_rustls", "account"], optional = true }
azure_storage_blobs = { version = "0.4", default-features = false, features = ["enable_reqwest_rustls"], optional = true }
azure_core = { version = "0.3", default-features= false, features = ["enable_reqwest_rustls"], optional = true }
async-channel = {version="1.7", optional=true}
atty = { version = "0.2", optional=true }
indicatif = { version = "0.16", optional=true }

[profile.release]
opt-level="z"
lto=true
panic="abort"
codegen-units=1

[[bin]]
name = "avml-upload"
required-features = ["put", "blobstore"]
