[package]
name = "avml"
version = "0.9.1"
license = "MIT"
description = "A portable volatile memory acquisition tool"
authors = ["avml@microsoft.com"]
keywords = ["linux", "memory-forensics", "security"]
categories = ["command-line-utilities"]
homepage = "https://github.com/microsoft/avml"
repository = "https://github.com/microsoft/avml"
readme = "README.md"
edition = "2021"

[features]
default = ["put", "blobstore"]
put = ["reqwest", "url", "tokio", "native-tls"]
blobstore = ["url", "azure_core", "azure_storage", "azure_storage_blobs", "tokio", "tokio-util", "async-channel", "native-tls"]
status = ["atty", "indicatif"]

[dependencies]
byteorder = "1.4"
bytes = "1.3"
clap = {version="4.0", default-features=false, features=["derive", "std", "usage", "error-context", "help"]}
elf = "0.7"
futures = "0.3"
http = "0.2"
md5 = "0.7"
snap = "1.1"
thiserror = "1.0"

async-channel = {version="1.8", optional=true}
atty = {version="0.2", optional=true}
azure_core = {version="0.7", optional=true}
azure_storage = {version="0.8", optional=true}
azure_storage_blobs = {version="0.9", optional=true}
indicatif = {version="0.17", optional=true}
native-tls = {version="0.2", features=["vendored"], optional=true}
reqwest = {version="0.11", optional=true}
tokio = {version="1.23", default-features=false, optional=true, features=["fs", "rt-multi-thread"]}
tokio-util = {version="0.7", features=["codec"], optional=true}
url = {version="2.3", optional=true}

[profile.release]
opt-level="z"
lto=true
panic="abort"
codegen-units=1

[[bin]]
name = "avml-upload"
required-features = ["put", "blobstore"]
