name: build

on:
  push:
    branches: [ main ]
    tags:
      - 'v*'
  pull_request:
    branches: [ main ]
  merge_group:

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4.2.2
    - name: build
      run: eng/ci.sh
    - name: Run tests
      run: sudo target/x86_64-unknown-linux-musl/release/avml --compress output.lime
    - name: upload artifacts
      uses: actions/upload-artifact@v4.4.3
      with:
        name: build-artifacts
        path: |
          target/*/release/avml
          target/*/release/avml-minimal
          target/*/release/avml-convert
          target/*/release/avml-upload
  windows:
    runs-on: windows-latest
    steps:
    - name: Set git to use LF
      run: |
        git config --global core.autocrlf false
        git config --global core.eol lf
    - uses: actions/checkout@v4.2.2
    - name: build avml-convert
      run: cargo build --release --bin avml-convert --locked
    - name: build avml-upload
      run: cargo build --release --bin avml-upload --locked
    - name: Run tests
      run: cargo test
    - name: upload artifacts
      uses: actions/upload-artifact@v4.4.3
      with:
        name: windows-artifacts
        path: |
          target/release/avml-convert.exe
          target/release/avml_convert.pdb
          target/release/avml-upload.exe
          target/release/avml_upload.pdb
